.company {
    &__title {
        color: #323264;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__logo {
        display: flex;
        flex-wrap: wrap;
        
        &-item {
            width: 100%;
            height: 120px;
            position: relative;

            &-img {
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                margin: auto;
            }
        }
    }
}