.bg-blue {
    background-color: #1C4280;
}
.bg-dark-blue {
    background-color: #143646;
}
.bg-orange {
    background-color: #FD9339;
}
.bg-purple {
    background-color: #9E4DC3;
}
.bg-gray {
    background-color: #E2E2E4;
}
.bg-light-gray {
    background-color: #F5F5FA;
}